.App-header {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

h2, h3, h4 {
  font-size: 25px;
  font-weight: 500;
}

.layout {
  padding: 30px 30px 0px;
  display: flex;
  justify-content: space-around;
}

input {
  margin-bottom: 10px !important;
  padding: 2px;
  max-width: 257px;
}

input::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

img {
  min-height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
